<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="C:\Program Files\Python37\python.exe|&quot;C:\Program Files\Python37\Lib\site-packages\wfastcgi.py&quot;"
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\HostingSpaces\k267pyhdgiang\hdgiang.laptrinhpython.net\wwwroot" />
    <add key="WSGI_HANDLER" value="Do_an_ck_01.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="Do_an_ck_01.settings" />
  </appSettings>
</configuration>



