{% extends 'Do_an_01/Masterbase.html' %}
{% block title_tab %}Home{% endblock %}

{% load static %}
{% block content %}
    <!-- Login Section Start -->
    <div id="login">
        <div class="container">
            <div class=" " style="text-align: center; margin-top: 20px; margin-bottom: 50px">
                <h3>Đăng ký/ Đăng nhập</h3>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="register-form">
                        <form method="post">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    {{ result_regiter|safe }}
                                </div>

                                <div class="col-md-6">
                                    <label>{{ form.ho.label }}</label>
                                    {{ form.ho }}
                                </div>
                                <div class="col-md-6">
                                    <label>{{ form.ten.label }}</label>
                                    {{ form.ten }}
                                </div>
                                <div class="col-md-12">
                                    <label>{{ form.email.label }}</label>
                                    {{ form.email }}
                                </div>
                                <div class="col-md-6">
                                    <label>{{ form.mat_khau.label }}</label>
                                    {{ form.mat_khau }}
                                </div>
                                <div class="col-md-6">
                                    <label>{{ form.xac_nhan_mat_khau.label }}</label>
                                    {{ form.xac_nhan_mat_khau }}
                                </div>
                                <div class="col-md-12">
                                    <label>{{ form.dien_thoai.label }}</label>
                                    {{ form.dien_thoai }}
                                </div>
                                <div class="col-md-12">
                                    <label>{{ form.dia_chi.label }}</label>
                                    {{ form.dia_chi }}
                                </div>
                                <div class="col-md-12" style="margin-top: 10px">
                                    <button class="btn-primary" type="submit" name="btnDangKy" value="Đăng ký">Đăng ký
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="login-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ result_login|safe }}
                                </div>

                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="E-mail" name="email"
                                           autocomplete="off">
                                </div>
                                <div class="col-md-6">
                                    <label>Mật khẩu</label>
                                    <input class="form-control" type="password" placeholder="Mật khẩu" name="mat_khau"
                                           autocomplete="off">
                                </div>
                                {#                                <div class="col-md-12">#}
                                {#                                    <div class="custom-control custom-checkbox">#}
                                {#                                        <input type="checkbox" class="custom-control-input" id="newaccount">#}
                                {#                                        <label class="custom-control-label" for="newaccount">Keep me signed in</label>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div class="col-md-12" style="margin-top: 10px">
                                    <button class="btn-primary" name="btnDangNhap" value="Đăng nhập">Đăng nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Section End -->

{% endblock %}