{% extends 'Do_an_01/Masterbase.html' %}
{% block title_tab %}{{ story.name }}{% endblock %}
{% load static %}
{% block content %}
    <!-- News With Sidebar Start -->
    <div class="container-fluid" style="margin-top: 20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="text-body" href="">Ngày đăng tin: {{ story.public_day }}</a>
                            </div>
                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ story.name }}</h4>
                            <p>{{ story.content|safe }}</p>
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src={% static 'img/user-a.png' %} width="25"
                                     height="25" alt="">
                                <span>Tác giả: {{ story.author }}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">

                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Quảng cáo</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href="https://vnpt.vn"><img class="img-fluid" src={% static 'img/news-800x500-2.jpg' %} alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">TIN TỨC</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            {% for story in tin_tuc %}
                                <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                    <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                        <div class="mb-2">
                                            <a class="text-body" href=""><small>J{{ story.public_day }}</small></a>
                                        </div>
                                        <a class="h6 m-0 text-secondary  font-weight-bold"
                                           href="{% url 'Do_an_01:single' story.pk %}">{{ story.name|truncatewords:10 }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

            </div>
        </div>
    </div>
{% endblock %}